.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-image-1 {
  width: 314px;
  height: 314px;
  margin: 40px auto 0 400px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 58px 478px 60px 451px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 41px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 56px;
    margin-right: 378px;
    margin-left: 351px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 268px;
    margin-left: 241px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 178px;
    margin-left: 151px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 78px;
    margin-left: 51px;
  }
}